@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
/*font tirado do google fonts*/

* {
    /*chamando tudo so site*/
    padding: 0;
    /*tamanho preenchimento*/
    margin: 0;
    /*zerando a margem*/
    text-decoration: none;
    /*temover as decoração do texto*/
    list-style: none;
    /*remove o estilo de lista*/
    font-family: "Oswald", sans-serif;
    /*colocando uma font family*/
}

header {
    /*chamando a (Cabeça do site) para estelizar*/
    padding: 30px;
    /*tamanho preenchimento*/
    display: flex;
    /*tornar flex e deixar lado a lado*/
    justify-content: space-between;
    /*alinhamento na orizontal*/
    background-color: #6dcf25;
    /*cor de fundo*/
    align-items: center;
    /*alinhamento na vertical*/
}

header i {
    /*chamando a (logo do site) para estelizar*/
    font-size: 70px;
    /*tamanho da fonte*/
    color: black;
    /*cor da letra ou icone*/
}

header a {
    /*chamando a (ancora do site) para estelizar*/
    color: white;
    /*cor da letra ou icone*/
    font-size: 20px;
    /*tamanho da fonte*/
    text-decoration: none;
    /*temover as decoração do texto*/
}

header ul {
    /*chamando a (ul do site) para estelizar*/
    display: flex;
    /*tornar flex e deixar lado a lado*/
    gap: 20px;
    /*espaçamento entre as ul*/
}

.section-01 {
    /*chamando a (1ª section do site) para estelizar*/
    padding: 200px;
    /*preenchimento da sessão*/
    background: linear-gradient(180deg, #d8ff8f 8.33%, #88db40 100%)
        /*degrader cor*/
}

.section-01 div {
    /*Chamando a (div) que esta dentro da (1ª section) para estelizar*/
    width: 280px;
    /*largura*/
    height: 300px;
    /*altura*/
}

.div-pai01 {
    /*chamando a (div pai) que esta dentro da (1ª section) para estelizar*/
    display: flex;
    /*tornar flex e deixar lado a lado*/
    gap: 30px;
    /*espaçamento*/
    margin-bottom: 30px;
    /*espaçamento inferior*/
}

.div-01 {
    /*chamando a (div filho) que esta dentro da (1ª section) para estelizar*/
    background-image: url(imagem/animal1.jpg);
    /*colocando imagem de fundo*/
    background-position: center;
    /*posicionando no centro a imagem*/
    background-size: cover;
    /*tamanho da imagem*/
    /*cover (total)*/
}

.div-02 {
    /*chamando a (div filho) que esta dentro da (1ª section) para estelizar*/
    background-image: url(imagem/animal2.jpg);
    /*colocando imagem de fundo*/
    background-position: center;
    /*posicionando no centro a imagem*/
    background-size: cover;
    /*tamanho da imagem*/
    /*cover (total)*/
}

.div-03 {
    /*chamando a (div filho) que esta dentro da (1ª section) para estelizar*/
    background-image: url(imagem/animal3.jpg);
    /*colocando imagem de fundo*/
    background-position: center;
    /*posicionando no centro a imagem*/
    background-size: cover;
    /*tamanho da imagem*/
    /*cover (total)*/
}

.div-04 {
    /*chamando a (div filho) que esta dentro da (1ª section) para estelizar*/
    background-image: url(imagem/cute-3273789_1280.jpg);
    /*colocando imagem de fundo*/
    background-position: center;
    /*posicionando no centro a imagem*/
    background-size: cover;
    /*tamanho da imagem*/
    /*cover (total)*/
}

.div-05 {
    /*chamando a (div filho) que esta dentro da (1ª section) para estelizar*/
    background-image: url(imagem/french-bulldog-4059643.jpg);
    /*colocando imagem de fundo*/
    background-position: center;
    /*posicionando no centro a imagem*/
    background-size: cover;
    /*tamanho da imagem*/
    /*cover (total)*/
}

.div-06 {
    /*chamando a (div filho) que esta dentro da (1ª section) para estelizar*/
    background-image: url(imagem/dog-1912874.jpg);
    /*colocando imagem de fundo*/
    background-position: center;
    /*posicionando no centro a imagem*/
    background-size: cover;
    /*tamanho da imagem*/
    /*cover (total)*/
}

.div-01:hover {
    /*colocando o (hover) para quando o mause passar em cima fazer o que eu quero*/
    box-shadow: 10px 10px 10px black;
    /*adicionando sombra*/
    transform: scale(1.1, 1.1);
    /*(aproximar) ou (aumentar) deixa mais perto */
    transition: 0.8s;
    /*tempo para a trazação*/
}

.div-02:hover {
    /*colocando o (hover) para quando o mause passar em cima fazer o que eu quero*/
    box-shadow: 10px 10px 10px black;
    /*adicionando sombra*/
    transition: 0.8s;
    /*tempo para a trazação*/
    transform: scale(1.1, 1.1);
    /*(aproximar) ou (aumentar) deixa mais perto */
}

.div-03:hover {
    /*colocando o (hover) para quando o mause passar em cima fazer o que eu quero*/
    box-shadow: 10px 10px 10px black;
    /*adicionando sombra*/
    transition: 0.8s;
    /*tempo para a trazação*/
    transform: scale(1.1, 1.1);
    /*(aproximar) ou (aumentar) deixa mais perto */
}

.div-04:hover {
    /*colocando o (hover) para quando o mause passar em cima fazer o que eu quero*/
    box-shadow: 10px 10px 10px black;
    /*adicionando sombra*/
    transition: 0.8s;
    /*tempo para a trazação*/
    transform: scale(1.1, 1.1);
    /*(aproximar) ou (aumentar) deixa mais perto */
}

.div-05:hover {
    /*colocando o (hover) para quando o mause passar em cima fazer o que eu quero*/
    box-shadow: 10px 10px 10px black;
    /*adicionando sombra*/
    transition: 0.8s;
    /*tempo para a trazação*/
    transform: scale(1.1, 1.1);
    /*(aproximar) ou (aumentar) deixa mais perto */
}

.div-06:hover {
    /*colocando o (hover) para quando o mause passar em cima fazer o que eu quero*/
    box-shadow: 10px 10px 10px black;
    /*adicionando sombra*/
    transition: 0.8s;
    /*tempo para a trazação*/
    transform: scale(1.1, 1.1);
    /*(aproximar) ou (aumentar) deixa mais perto */
}

.section-melhore {
    /*chamando a (1ª section) para modificar*/
    padding: 200px;
    /*preenchimento da sessão*/
    background: linear-gradient(360deg, #d8ff8f 8.33%, #88db40 100%);
    /*degrader cor*/
    display: flex;
    /*tornar flex e deixar lado a lado*/
    justify-content: space-evenly;
    /*alinhamento na orizontal*/
}

.section-melhore textarea {
    /*chamando a (textarea) que esta dentro da (1ª section) para modificar*/
    width: 350px;
    /*largura*/
    height: 250px;
    /*altura*/
    font-size: 35px;
    /*tamanho da fonte*/
}

.section-melhore button {
    /*chamando o (button) para modificar*/
    display: flex;
    /*tornar flex e deixar lado a lado*/
    font-size: 25px;
    /*tamanho da fonte*/
}

.section-melhore button:hover {
    /*colocando o (hover) para quando o mause passar em cima fazer o que eu quero*/
    cursor: pointer;
    /*ao passar o mouse mude para (pointer)*/
    box-shadow: 10px 10px 10px #00000079;
    /*adicionando sombra*/
    transform: scale(1.1, 1.1);
    /*(aproximar) ou (aumentar) deixa mais perto */
    transition: 0.8s;
    /*tempo para a trazação*/
}

.section-melhore .div-p {
    /*chamando a (div filho) dentro da (2ª section) para estelizar*/
    width: 350px;
    /*largura*/
    background-color: #88db40;
    /*cor de fundo*/
}

.section-melhore .button-1 {
    /*chamando a (button) dentro da (2ª section) para estelizar*/
    width: 110px;
    /*largura*/
    height: auto;
    /*altura*/
    margin-left: 100px;
    /*espaçamento lateral*/
    margin-top: 20px;
    /*margem superior*/
}

footer {
    /*chamando o (footer) para estelizar*/
    padding: 30px;
    /*preenchimento do rodape*/
    display: flex;
    /*tornar flex e deixar lado a lado*/
    justify-content: space-between;
    /*alinhamento na orizontal*/
    background-color: #6dcf25;
    /*cor de fundo*/
    align-items: center;
    /*alinhamento na vertical*/
}

footer div i {
    /*Chamando o (logo) que esta no (footer) para estelizar*/
    font-size: 70px;
    /*tamanho da fonte*/
    color: black;
    /*cor da letra ou icone*/
}

footer a {
    /*Chamando a (ancora) que esta no (footer) para estelizar*/
    color: white;
    /*cor da letra ou icone*/
    font-size: 22px;
    /*tamanho da fonte*/
}

footer ul {
    /*Chamando o (ul) que esta no (footer) para estelizar*/
    gap: 20px;
    /*espaçamento*/
    margin-left: 500px;
    /*espaçamento lateral*/
    display: flex;
    /*tornar flex e deixar lado a lado*/
}

footer li a {
    /*Chamando o (ancora) que esta no(footer dentro da li) para estelizar*/
    color: white;
    /*cor da letra ou icone*/
    text-decoration: none;
    /*temover as decoração do texto*/
}

.div-contatos {
    /*Chamando a div(contatos) para estelizar*/
    display: flex;
    /*tornar flex e deixar lado a lado*/
    justify-content: space-evenly;
    /*alinhamento na orizontal*/
    align-items: center;
    /*alinhamento na vertical*/
    gap: 5px;
    /*espaçamento*/
}

.div-contatos i {
    /*Chamando a (logo) que esta no div(contatos) para estelizar*/
    font-size: 50px;
    /*tamanho da fonte*/
}


/*paleta de cores*/
/*https://paletadecores.com/paleta/6dcf25/88db40/a3e75a/bdf375/d8ff8f/*/