@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');/*font tirado do google fonts*/
*{
    padding: 0;/*tamanho preenchimento*/
    margin: 0;/*zerando a margem*/
    text-decoration: none;/*temover as decoração do texto*/
    list-style: none;/*remove o estilo de lista*/
    font-family: "Oswald", sans-serif;/*colocando uma font family*/
}
header{
    padding: 30px;/*tamanho preenchimento*/
    display: flex;/*tornar flex e deixar lado a lado*/
    justify-content: space-between;/*alinhamento na orizontal*/
    background-color: #6dcf25;/*cor de fundo*/
    align-items: center;/*alinhamento na vertical*/
}
header i{
    font-size: 70px;/*tamanho da fonte*/
    color: black;/*cor da letra ou icone*/
}
header a{
    color: white;/*cor da letra ou icone*/
    font-size: 20px;/*tamanho da fonte*/
    text-decoration: none;/*temover as decoração do texto*/
}
header ul{
    display: flex;/*tornar flex e deixar lado a lado*/
    gap: 20px;/*espaçamento entre as ul*/
    
}
section{
    padding: 280px;/*preenchimento da sessão*/
    background-image: url(imagem/fundo1.jpg);/*colocando imagem de fundo*/
    background-size: cover;/*tamanho da imagem*//*cover (total)*/
    background-repeat: no-repeat;/*para não repetir a imagem*/
}
section .div-pai{
    display: flex;/*tornar flex e deixar lado a lado*/
    gap: 10px;/*espaçamento*/
}
section .div-filho1{
    background-color: #6ccf25d2;/*cor de fundo*/
    width: 350px;/*largura*/
    height: 300px;/*altura*/
    background-position: center;/*posicionando no centro*/
}
section button{
    width: 280px;/*largura*/
    height: 100px;/*altura*/
    font-size: 30px;/*tamanho da fonte*/
}
section button:hover{
    cursor: pointer;/*ao passar o mouse mude para (pointer)*/
}
footer{
    padding: 30px;/*preenchimento do rodape*/
    display: flex;/*tornar flex e deixar lado a lado*/
    justify-content: space-between;/*alinhamento na orizontal*/
    background-color: #6dcf25;/*cor de fundo*/
    align-items: center;/*alinhamento na vertical*/
}
footer div i{
    font-size: 70px;/*tamanho da fonte*/
    color: black;/*cor da letra ou icone*/
}
footer a{
    color: white;/*cor da letra ou icone*/
    font-size: 22px;/*tamanho da fonte*/
}
footer ul{
    gap: 20px;
    margin-left: 500px;/*espaçamento lateral*/
    display: flex;/*tornar flex e deixar lado a lado*/
}
footer li a{
    color: white;/*cor da letra ou icone*/
    text-decoration: none;/*temover as decoração do texto*/
}
.div-contatos{
    display: flex;/*tornar flex e deixar lado a lado*/
    justify-content: space-evenly;/*alinhamento na orizontal*/
    align-items: center;/*alinhamento na vertical*/
    gap: 5px;/*espaçamento*/
}
.div-contatos i{
    font-size: 50px;/*tamanho da fonte*/
}



/*paleta de cores*/
/*https://paletadecores.com/paleta/6dcf25/88db40/a3e75a/bdf375/d8ff8f/*/