@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');/*font tirado do google fonts*/
*{
    padding: 0;/*tamanho preenchimento*/
    margin: 0;/*zerando a margem*/
    text-decoration: none;/*temover as decoração do texto*/
    list-style: none;/*remove o estilo de lista*/
    font-family: "Oswald", sans-serif;/*colocando uma font family*/
}
header{
    padding: 30px;/*tamanho preenchimento*/
    display: flex;/*tornar flex e deixar lado a lado*/
    justify-content: space-between;/*alinhamento na orizontal*/
    background-color: #6dcf25;/*cor de fundo*/
    align-items: center;/*alinhamento na vertical*/
}
header i{
    font-size: 70px;/*tamanho da fonte*/
    color: black;/*cor do icone*/
}
header a{
    color: white;/*cor na ancora*/
    font-size: 20px;/*tamanho da fonte*/
    text-decoration: none;/*temover as decoração do texto*/
}
header ul{
    display: flex;/*tornar flex e deixar lado a lado*/
    gap: 20px;/*espaçamento entre as ul*/
}
.section-11{
    padding: 200px;/*preenchimento da sessão*/
    background-image: url(imagem/veterinario3.webp);/*colocando imagem de fundo*/
    background-repeat: no-repeat;/*para não repetir a imagem*/
    background-size: cover;/*tamanho da imagem*//*cover (total)*/
}
.section-11 h2{
    text-align: center;
    font-size: 35px;/*tamanho da fonte*/
    margin-bottom: 5px;/*espaçamento inferior*/
    background: linear-gradient(270deg, #d8ff8fe1 8.33%, #88db40ce 100%);/*degrader cor*/
}
.section-11 .div-pai11{
    width: 250px;/*largura*/
    height: 300px;/*altura*/
    display: flex;/*tornar flex e deixar lado a lado*/
    gap: 150px;/*espaçamento*/
}
.div-11{
    display: flex;/*tornar flex e deixar lado a lado*/
    width: 300px;/*largura*/
    height: 280px;/*altura*/
}
.div-12{
    display: flex;/*tornar flex e deixar lado a lado*/
    width: 300px;/*largura*/
    height: 280px;/*altura*/
}
.div-13{
    display: flex;/*tornar flex e deixar lado a lado*/
    width: 300px;/*largura*/
    height: 280px;/*altura*/
}
.div-14{
    display: flex;/*tornar flex e deixar lado a lado*/
    width: 300px;/*largura*/
    height: 280px;/*altura*/
}
.div-11:hover{
    transform: scale(1.1, 1.1);/*aproximar*/
    transition: 0.8s;/*tempo para a trazação*/
}
.div-12:hover{
    transform: scale(1.1, 1.1);/*aproximar*/
    transition: 0.8s;/*tempo para a trazação*/
}
.div-13:hover{
    transform: scale(1.1, 1.1);/*aproximar*/
    transition: 0.8s;/*tempo para a trazação*/
}
.div-14:hover{
    transform: scale(1.1, 1.1);/*aproximar*/
    transition: 0.8s;/*tempo para a trazação*/
}
.section-12{
    padding: 200px;/*preenchimento da sessão*/
    background: linear-gradient(180deg, #d8ff8f 8.33%, #88db40 100%);/*degrader cor*/
    display: flex;/*tornar flex e deixar lado a lado*/
    justify-content: space-evenly;/*alinhamento na orizontal*/
}
.section-12 textarea{
    width: 550px;/*largura*/
    height: 350px;/*altura*/
    font-size: 35px;/*tamanho da fonte*/
}
.section-12 button{
    display: flex;/*tornar flex e deixar lado a lado*/
    font-size: 25px;/*tamanho da fonte*/
}
.section-12 button:hover{
    cursor: pointer;/*ao passar o mouse mude para (pointer)*/
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.473);/*adicionando sombra*/
    transform: scale(1.1, 1.1);/*aproximar*/
    transition: 0.8s;/*tempo para a trazação*/
}
.section-13{
    padding: 500px;/*preenchimento da sessão*/
    background-image: url(imagem/veterinario4.jpg);/*colocando imagem de fundo*/
    background-position: left;/*posicionando no centro a imagem*/
    background-repeat: no-repeat;/*para não repetir a imagem*/
    background-size: cover;/*tamanho da imagem*//*cover (total)*/
}
.section-13 div{
    background-color: #6ccf257c;/*cor de fundo*/
    width: 450px;/*largura*/
    height: 800px;/*altura*/
    font-size: 25px;/*tamanho da fonte*/
}
footer{
    padding: 30px;/*preenchimento do rodape*/
    display: flex;/*tornar flex e deixar lado a lado*/
    justify-content: space-between;/*alinhamento na orizontal*/
    background-color: #6dcf25;/*cor de fundo*/
    align-items: center;/*alinhamento na vertical*/
}
footer div i{
    font-size: 70px;/*tamanho da fonte*/
    color: black;/*cor do icone*/
}
footer ul{
    gap: 20px;/*espaçamento*/
    margin-left: 500px;/*espaçamento a esquerda*/
    display: flex;/*tornar flex e deixar lado a lado*/
}
footer li a{
    color: white;/*cor da ancora*/
    text-decoration: none;/*temover as decoração do texto*/
    font-size: 22px;/*tamanho da fonte*/  
}
.div-contatos{
    display: flex;/*tornar flex e deixar lado a lado*/
    justify-content: space-evenly;/*alinhamento na orizontal*/
    align-items: center;/*alinhamento na vertical*/
    gap: 5px;/*espaçamento*/
}
.div-contatos i{
    font-size: 50px;/*tamanho da fonte*/
}



/*paleta de cores*/
/*https://paletadecores.com/paleta/6dcf25/88db40/a3e75a/bdf375/d8ff8f/*/